{
    "timeout": 1,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "qa/infection.log",
        "summary": "qa/summary.txt",
        "perMutator": "qa/per-mutator.md"
    },
    "mutators": {
        "@default": true
    }
}