{
    "timeout": 1,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "summary": "summary.txt",
        "perMutator": "per-mutator.md"
    },
    "mutators": {
        "@default": true
    }
}